<mat-card>
    <mat-card-content class="content">
        <div>
            <p>
                📦 {{item.description}}
            </p>
            <div class="volume-info">
                <span class="mat-caption">Total volume: {{item.volume}}</span>
                <span class="mat-caption">Volume left: {{item.volume}}</span>
            </div>
        </div>
        <div class="controls-panel">
            <app-edit-item-button [item]="item" />
            <app-delete-item-button [item]="item" />
        </div>
    </mat-card-content>
</mat-card>