:host {
    width: 100%;
}

.content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.content__info {
    padding: 16px;

    & > p {
        margin-bottom: 0;
    }
}

.controls-panel {
    display: flex;
    gap: 8px;
    padding-right: 16px;
}

.volume-info {
    margin-bottom: 0;
    color: var(--secondary-text);
}